- content_for(:header) do
  #nav
    %ul.navigation
      %li{"data-slide" => "1"} PPYBNN
      %li{"data-slide" => "2"} Videos
      %li.dont-show-mobile{"data-slide" => "4"} Misión
      %li.dont-show-mobile{"data-slide" => "5"} Nosotros

#slide-home.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_8
      %h1
        Estoy por perder mi virginidad y
        %span.destacar no tengo idea de nada.
      %p
        %a{ :href => "#", "data-slide" => "2" }
          %img{src: "assets/bn-proximasclases.png"}
#slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_12.omega
      %h1 
        Aprende a cuidarte con estas
        %span.destacar clases
    .event.grid_12.omega
      /Aspectos contables
      .date
        %p
          15
          %span MAR
      %h2 
        Mitos de prevención del embarazo
      %p
        ¿Sabías que hacerlo sin condón puede provocar un embarazo, aún cuando no termines adentro? ¿Sabías que un lavado vaginal no sirve para prevenir el embarazo? Estos y muchos otros consejos en este video de 5 minutos.
      %h3
        Este video estará disponible el 15 de Marzo

      .bottomline
        %span ¿Te avisamos?
        = link_to "", "#", class: "avisenme", :"data-curso" => "mitos"

    .event.grid_12.omega
      /Aspectos contables
      .date
        %p
          30
          %span MAR
      %h2 
        Cómo usar un condón
      %p
        ¿Sabes desde qué momento hay que usar el condón? ¿Tienes idea de cómo ponerlo? ¿Sabías que si lo pones mal, no funciona? Estos y muchos otros consejos en este video de 5 minutos.
      %h3
        Este video estará disponible el 30 de Marzo
        
      .bottomline
        %span ¿Te avisamos?
        = link_to "", "#", class: "avisenme", :"data-curso" => "condon"


    .event.grid_12.omega
      /Aspectos contables
      .date
        %p
          15
          %span ABR
      %h2 
        ¿Cómo funcionan las pastillas anticonceptivas?
      %p
        Tienes idea de qué hacen? ¿Sabías que el primer mes de uso no funcionan?
      %h3
        Este video estará disponible el 15 de Abril

      .bottomline
        %span ¿Te avisamos?
        = link_to "", "#", class: "avisenme", :"data-curso" => "condon"
#slide4.slide{"data-slide" => "4"}
  .container.clearfix
    .grid_12
      %h1 Misión
    .grid_4.faq
      .circle
        %div 1
      .cont
        %h3 Educación
        %p
          Queremos entregar la información necesaria a todos los jóvenes que inician su vida sexual.
    .grid_4.faq
      .circle
        %div 2
      .cont
        %h3 Prevención
        %p
          Soñamos con un mundo sin embarazos no deseados ni enfermedades de transmisión sexual.
    .grid_4.faq.omega
      .circle
        %div 3
      .cont
        %h3 Otra cosa
        %p
          Bla, bla, bla.

#slide5.slide{"data-slide" => "5", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .grid_12.omega
      %h1 Equipo
    .grid_4.member
      = image_tag "mugshot-smc.jpg"
      %h3 Sebastián Marambio
      %p Cientista Político, Economista
      %p Harvard University
    .grid_4.member
      = image_tag "mugshot-1.jpg"
      %h3 Doctora rica
      %p Médico 
      %p Universidad de Médicos
    .grid_4.member.omega
      = image_tag "mugshot-cr.jpg"
      %h3 Cristián Rodríguez
      %p Ingeniero
      %p Universidad Católica de Chile
    .grid_4.member
      = image_tag "mugshot-pm.jpg"
      %h3 Pablo Marambio
      %p Ingeniero
      %p Universidad Católica de Chile
    .grid_4.member
      = image_tag "mugshot-3.jpg"
      %h3 Otro loco
      %p Ingeniero Comercial
      %p Universidad Adolfo Ibáñez

#slide-footer.slide{"data-slide" => "6", "data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_6.color-box
      %ul
        %li
          Interesado?
          = link_to "¡Contáctanos ahora!", "#", class: "contacto"
        %li Términos y condiciones
        %li
          %small (c) 2014 Productora Rodríguez-Marambio Ltda.
    .grid_6.logo.omega
      = image_tag "logo-2-1.png"

#dialog-contacto{style: "display:none;"}
  %p.validateTips Déjanos tu teléfono o correo electrónico para contactarte
  %form.dialog
    %fieldset
      %label{for: "name"} Nombre
      %input.text.ui-widget-content.ui-corner-all{name: "name", type: "text"}/
      %label{for: "phone"} Teléfono
      %input.text.ui-widget-content.ui-corner-all{name: "phone", type: "text", value: ""}/
      %label{for: "email"} Email
      %input.text.ui-widget-content.ui-corner-all{name: "email", type: "email", value: ""}/
      %label{for: "comment"} Comentario
      %textarea.text.ui-widget-content.ui-corner-all{name: "comment", rows: 5}

#dialog-avisenme{style: "display:none;"}
  %p.validateTips Déjanos tu teléfono o correo electrónico para contactarte cuando el curso esté disponible
  %form.dialog
    %fieldset
      %label{for: "name"} Nombre
      %input.text.ui-widget-content.ui-corner-all{name: "name", type: "text"}/
      %label{for: "phone"} Teléfono
      %input.text.ui-widget-content.ui-corner-all{name: "phone", type: "text", value: ""}/
      %label{for: "email"} Email
      %input.text.ui-widget-content.ui-corner-all{name: "email", type: "email", value: ""}/
#dialog-ok{style: "display:none;"}
  %h1#successTip &nbsp;

- content_for :script do
  :plain
    var name =       null;
    var phone =      null;
    var email =      null;
    var comment =    null;
    var tips =       null;
    var allFields =  null;
    var defaultTip = null;
    var successTip = null;

    var emailRegexp = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i;
    var phoneRegexp = /^(\+)?[0-9 ][0-9 \-]{7,}$/;
    var nameRegexp = /[a-z]+/i;

    function loadFields(where) {
      name = $(where + " input[name='name']");
      phone = $(where + " input[name='phone']");
      email = $(where + " input[name='email']");
      comment = $(where + " textarea");
      allFields = $( [] ).add( name ).add( email ).add( phone ).add( comment );
      tips = $(where + " p.validateTips");
    }

    function updateTips( t ) {
      if(t) {
        tips
          .text( t )
          .addClass( "ui-state-highlight", 200 )
          .removeClass( "ui-state-highlight", 200 )
          .addClass( "ui-state-highlight", 200 )
          .removeClass( "ui-state-highlight", 200 );
      } else {
        tips.text(defaultTip);
      }
    }

    function checkRegexp( o, regexp, n, alert ) {
      if(alert !== false) alert = true;
      if ( !( regexp.test( o.val() ) ) ) {
        if(alert) {
          o.addClass( "ui-state-error" );
          updateTips( n );
        }
        return false;
      } else {
        return true;
      }
    }

    $("a.avisenme").click(function(e){
      loadFields("#dialog-avisenme");
      defaultTip = "Déjanos tu teléfono o correo electrónico para contactarte cuando el curso esté disponible";
      successTip = "Te avisaremos cuando el curso esté disponible";
      var evento = $(this).attr("data-curso");
      $("#dialog-avisenme").dialog({
        modal: true,
        title: "Curso '" + evento + "'",
        buttons: {
          "Guardar": function() {
            var valid = true;
            var contacto = false;
            updateTips();
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkRegexp(name, nameRegexp, "Por favor escribe tu nombre");
            contacto = contacto || checkRegexp(phone, phoneRegexp, "", false);
            contacto = contacto || checkRegexp(email, emailRegexp, "", false);
            if(!valid) return;
            if(!contacto) {
              email.add(phone).addClass("ui-state-error");
              updateTips("Por favor ingresa un celular o correo electrónico válido");
            }
            if(valid && contacto) {
              vName = name.val();
              vPhone = phone.val();
              vEmail = email.val();
              $.post("/contacto/", { contact: { user: vName, phone: vPhone, email: vEmail, event: evento } }, function () {
                $("#dialog-avisenme").dialog("close");
                $("h1#successTip").text(successTip);
                $("#dialog-ok").dialog({modal: true, buttons: {OK: function() {$( this ).dialog( "close" );}}})
              });
            }
          },
          "Cancelar": function () { $( this ).dialog( "close" ); }
        }
      });
      e.preventDefault();
    });

    $("a.contacto").click(function(e){
      loadFields("#dialog-contacto");
      defaultTip = "Déjanos tu comentario y teléfono o correo electrónico para contactarte";
      successTip = "Gracias. Te contactaremos lo antes posible.";
      $("#dialog-contacto").dialog({
        modal: true,
        title: "Contacto",
        buttons: {
          "Guardar": function() {
            var valid = true;
            var contacto = false;
            updateTips();
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkRegexp(name, nameRegexp, "Por favor escribe tu nombre");
            valid = valid && checkRegexp(comment, nameRegexp, "Te faltó el comentario");
            contacto = contacto || checkRegexp(phone, phoneRegexp, "", false);
            contacto = contacto || checkRegexp(email, emailRegexp, "", false);
            if(!valid) return;
            if(!contacto) {
              email.add(phone).addClass("ui-state-error");
              updateTips("Por favor ingresa un celular o correo electrónico válido");
            }
            if(valid && contacto) {
              vName = name.val();
              vPhone = phone.val();
              vEmail = email.val();
              vComment = comment.val();
              $.post("/contacto/", { contact: { user: vName, phone: vPhone, email: vEmail, comment: vComment } }, function () {
                $("#dialog-contacto").dialog("close");
                $("h1#successTip").text(successTip);
                $("#dialog-ok").dialog({modal: true, buttons: {OK: function() {$( this ).dialog( "close" );}}})
              });
            }
          },
          "Cancelar": function () { $( this ).dialog( "close" ); }
        }
      });
      e.preventDefault();
    });
